<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body">
        <div class="container">
            <center><img style="border-radius: 35px;width: 100px;-webkit-user-select: none;margin: auto;cursor: zoom-in;height: 100px;" src="https://avatars0.githubusercontent.com/u/58895456?s=400&u=afda7e82952aaf4f2c8f09416324bb43dfc5f5e6&v=4" width="100" height="100"></center>
            <center><p class="title is-2">{{ page.title }}</p></center>
            <center><p class="subtitle is-3">{{ page.subtitle }}</p></center>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | prepend: site.baseurl  }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
